.sub-cat-modal-box{
    

}
.closeIcon{
    position: absolute;

    top: 5px;
    right: 1%;
    
}
/* .modalContainer{
    width: 100%;
    background-color: white;
   
} */
/* .modalbox{
    position: relative;
} */
.tableConteiner{
    /* border: 2px solid red; */
}
.tableConteinera{
    /* border: 2px solid red; */
   
}
.inactiveBadge{
    color:red
}
.activeBadge{
    color:green
}
